/* Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00293a;
  transition: background-color 0.3s ease;
}

.dark-nav {
  background-color: #333;
  color: #fff;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ddd;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 838px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #00293a;
    padding: 10px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
    padding: 25px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
    padding: 0 10px;
  }

  .dark-nav .hamburger div {
    background-color: #fff;
  }
}
